---
import preview from "../../public/preview.png";

const {
  title = "Bruno G. | Programador, Desarrollador Web e Instructor",
  description = "Apasionado por la programación y la enseñanza, creando soluciones innovadoras. Inspirando a otros a descubrir el fascinante mundo de la tecnología.",
  imagen = preview.src,
  url = "https://brunog.com.ar/",
} = Astro.props;
---

<html lang="es" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="icon" href={"/favicon.png"} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imagen} />
    <meta property="og:url" content={url} />
    <meta
      property="og:site_name"
      content="Bruno G. | Programador, Desarrollador Web e Instructor"
    />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imagen} />
  </head>

  <body
    class="w-screen relative min-h-screen overflow-x-hidden dark:bg-neutral-800"
  >
    <slot />
  </body>
</html>

<style>
  html,
  body {
    width: 100%;
  }

  *::selection {
    background-color: #ddb3ff;
    color: black;
  }
</style>
