---
import Image from "astro/components/Image.astro";

const { href, title, description, imagen, icon } = Astro.props;
---

<div class="animate-reveal w-full">
  <a
    href={href}
    class="group cursor-pointer gap-3 flex items-center justify-between border-b sm:border-0 focus-visible:bg-neutral-200/50"
  >
    <div
      class="relative hidden sm:block rounded-[10px] overflow-hidden w-16 h-14"
    >
      <Image
        src={imagen}
        alt={`Imagen de ${title}`}
        width={64}
        height={56}
        sizes="64px"
        format="webp"
        quality={60}
        loading="lazy"
        class="absolute inset-0 w-full h-full object-cover"
      />
    </div>

    <div class="flex flex-col w-full">
      <h6
        class="flex items-center gap-1 text-base font-medium text-neutral-800 dark:text-neutral-300 group-hover:text-neutral-600 dark:group-hover:text-neutral-500 transition-colors duration-300"
      >
        {title}
        {icon && <span aria-hidden="true">{icon}</span>}
      </h6><p
        class="text-sm leading-6 text-neutral-600 dark:text-neutral-400 group-hover:text-neutral-500 dark:group-hover:text-neutral-600 transition-colors duration-300"
      >
        {description}
      </p>
    </div><svg
      class="hidden sm:block size-4 shrink-0 text-neutral-300 dark:text-neutral-700 group-hover:text-neutral-700 dark:group-hover:text-neutral-300 group-focus-visible:text-neutral-700 dark:group-focus-visible:text-neutral-300 group-hover:rotate-45 transition-all duration-200 group-focus-visible:rotate-45"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M7 17L17 7M17 7H7M17 7V17"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path></svg
    ></a
  >
</div>
